@charset "UTF-8";

html {
    color-scheme: light dark;
}

/* Light */
:root {
    --text-color: #000;
    --back-color: #fff;
}

/* Dark */
@media(prefers-color-scheme: dark) {
    :root {
        --text-color: #fff;
        --back-color: #000;
    }

}

:root {
    color-scheme: light dark;
    color: var(--text-color);
}

::selection {
    color: var(--back-color);
    background: var(--text-color);
}

/* Reset */

html {
    scroll-behavior: smooth;
    scrollbar-color: var(--text-color) var(--back-color);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--back-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeLegibility;
}

img,
picture {
    max-inline-size: 100%;
    block-size: auto;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* Basic */

body {
    display: grid;
    place-items: center;
    background: var(--back-color);
}

h1 {
    font-family: system-ui, sams-serif;
    font-weight: 300;
    font-size: 15vw;
    line-height: 1;
}

h1>span {
    color: transparent;
    font-weight: 500;
    letter-spacing: 0.12em;
    background: linear-gradient(var(--text-color) 0 0) calc(100% - var(--p, 0%)) / var(--p, 0%) no-repeat;
    transition: .4s, background-position 0s;
    background-clip: text;
    -webkit-background-clip: text;
}

h1:hover>span {
    --p: 100%;
}